<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>BWK Home</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-info">
  <a class="navbar-brand" href="{% url 'index' %}"><img src="{% static 'skeleton/BWKLogo.png' %}" alt="BWK Logo" height=30 width=30></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'database' %}">Database</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
    </ul>
  </div>
  <div class="text-right">
    <a class="btn btn-light" href="{% url 'signup' %}">Sign Up</a>
    <button class="btn btn-light" type="submit">Login</button>
  </div>
</nav>

    <div class="container">

      {% block body_block %}

      {% endblock %}

    </div>

  </body>
</html>
